[Unit]
Description=SX1303 LoRa Packet Forwarder
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=uhrkgc
WorkingDirectory=/opt/sx1302_hal/packet_forwarder
ExecStart=/opt/sx1302_hal/packet_forwarder/lora_pkt_fwd -c /opt/sx1302_hal/packet_forwarder/test_conf.jsonc
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
